@import "./variables";

html {
    box-sizing: border-box;
    height: 100vh;
    &*, *::before, *::after {
        box-sizing: inherit;
    }
    body {
        margin: 0;
        overflow-x: hidden;
        height: 100vh;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 400;
        background: rgba(0, 0, 0, 0) url("../icons/background.png") no-repeat scroll 0% 50% / cover;
        #root {
            height: 100%;
            .App {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                height: 100%;

            }
        }
    }
}

@import "./components/navbar";
@import "./components/words";
@import "./components/keyboard";
@import "./components/finishedGame";
@import "./components/notification";
@import "./components/instructions";