html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
}

html*, html *::before, html *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html body {
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: rgba(0, 0, 0, 0) url("../icons/background.png") no-repeat scroll 0% 50%/cover;
}

html body #root {
  height: 100%;
}

html body #root .App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 512px;
  height: 40px;
  padding: 25px 16px 19px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
}

.navbar::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #D6D6D6;
  top: 49px;
  left: 0;
}

.navbar .navbar__logo {
  width: 16px;
}

.navbar .navbar__title {
  font-size: 30px;
}

.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 700px;
  margin-top: 10px;
}

.table .words {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  width: 100%;
  max-width: 352px;
}

.table .words .word {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.table .words .word.active .word__letter {
  border: 2px solid #C2CBF2;
  -webkit-box-shadow: 0 0 20px 2px #15204D;
          box-shadow: 0 0 20px 2px #15204D;
  color: white;
}

.table .words .word.shake {
  -webkit-animation: shake .5s linear 1;
          animation: shake .5s linear 1;
}

.table .words .word.success .word__letter {
  -webkit-animation: appear 1s;
          animation: appear 1s;
}

.table .words .word.success .word__letter:nth-of-type(1) {
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

.table .words .word.success .word__letter:nth-of-type(2) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.table .words .word.success .word__letter:nth-of-type(3) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.table .words .word.success .word__letter:nth-of-type(4) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.table .words .word.success .word__letter:nth-of-type(5) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.table .words .word .word__letter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  width: 62px;
  max-width: 62px;
  height: 62px;
  max-height: 62px;
  -webkit-box-shadow: 0 0 5px 2px #15204D;
          box-shadow: 0 0 5px 2px #15204D;
  background-color: rgba(255, 255, 255, 0.078);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.table .words .word .word__letter.active {
  border: 2px solid #C2CBF2;
}

@-webkit-keyframes appear {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes appear {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0;
  }
  40% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 1;
  }
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0;
  }
  40% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 1;
  }
}

@keyframes pop {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0;
  }
  40% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 1;
  }
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0;
  }
  40% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 1;
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(3px) rotate(0deg);
            transform: translate(3px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-3px) rotate(0deg);
            transform: translate(-3px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(-3px) rotate(0deg);
            transform: translate(-3px) rotate(0deg);
  }
  30% {
    -webkit-transform: translate(3px) rotate(0deg);
            transform: translate(3px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(3px) rotate(0deg);
            transform: translate(3px) rotate(0deg);
  }
  50% {
    -webkit-transform: translate(-3px) rotate(0deg);
            transform: translate(-3px) rotate(0deg);
  }
  60% {
    -webkit-transform: translate(-3px) rotate(0deg);
            transform: translate(-3px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px) rotate(0deg);
            transform: translate(3px) rotate(0deg);
  }
  80% {
    -webkit-transform: translate(-3px) rotate(0deg);
            transform: translate(-3px) rotate(0deg);
  }
  90% {
    -webkit-transform: translate(3px) rotate(0deg);
            transform: translate(3px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(3px) rotate(0deg);
            transform: translate(3px) rotate(0deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(3px) rotate(0deg);
            transform: translate(3px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-3px) rotate(0deg);
            transform: translate(-3px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(-3px) rotate(0deg);
            transform: translate(-3px) rotate(0deg);
  }
  30% {
    -webkit-transform: translate(3px) rotate(0deg);
            transform: translate(3px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(3px) rotate(0deg);
            transform: translate(3px) rotate(0deg);
  }
  50% {
    -webkit-transform: translate(-3px) rotate(0deg);
            transform: translate(-3px) rotate(0deg);
  }
  60% {
    -webkit-transform: translate(-3px) rotate(0deg);
            transform: translate(-3px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px) rotate(0deg);
            transform: translate(3px) rotate(0deg);
  }
  80% {
    -webkit-transform: translate(-3px) rotate(0deg);
            transform: translate(-3px) rotate(0deg);
  }
  90% {
    -webkit-transform: translate(3px) rotate(0deg);
            transform: translate(3px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(3px) rotate(0deg);
            transform: translate(3px) rotate(0deg);
  }
}

.keyboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 500px;
}

.keyboard .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  width: 500px;
}

.keyboard .row .keyboard__key {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: auto;
  height: 56px;
  background-color: #15204D;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 900;
  border: none;
  cursor: pointer;
  -webkit-transition: opacity .1s;
  transition: opacity .1s;
}

.keyboard .row .keyboard__key:hover {
  background-color: #2C429F;
  color: #C2CBF2;
}

.keyboard .row .keyboard__key.active {
  -webkit-animation: key 500ms ease-in-out;
          animation: key 500ms ease-in-out;
}

.keyboard .row .keyboard__key .keyboard__key--delete {
  width: 100%;
  height: 25px;
}

@-webkit-keyframes key {
  0% {
    opacity: .8;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    opacity: .5;
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@keyframes key {
  0% {
    opacity: .8;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    opacity: .5;
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

.finished-game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #15204db0;
  width: 100%;
  height: 100%;
  position: absolute;
  color: white;
}

.finished-game .modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
  position: relative;
  z-index: 1;
  background-color: #2C429F;
  color: white;
  width: 400px;
  height: 400px;
  border-radius: 10px;
}

.finished-game .modal .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.finished-game .modal .finished-game__winner-word {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  margin: 0;
}

.finished-game .modal .finished-game__winner-word .finished-game__winner-word--bold {
  font-weight: 900;
  font-size: 60px;
  color: #5A7AFF;
}

.finished-game .modal .statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.finished-game .modal .statistics .statistics__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.finished-game .modal .statistics .statistics__item .statistics__number {
  font-size: 40px;
  font-weight: 900;
  margin: 0;
}

.finished-game .modal .statistics .statistics__item .statistics__text {
  margin: 0;
  font-size: 14px;
}

.finished-game .modal .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 350px;
}

.finished-game .modal .data .time-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
}

.finished-game .modal .data .time-left .time-left__text {
  font-size: 16px;
  margin: 0;
}

.finished-game .modal .data .github {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.finished-game .modal .data .github .github__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: #5A7AFF;
  text-decoration: none;
}

.finished-game .modal .data .github .github__button:hover {
  background-color: #15204db6;
}

.finished-game .modal .data .github .github__button .github__logo {
  width: 30px;
  height: auto;
}

.finished-game .modal .data .github .github__button .github__text {
  color: white;
  font-weight: 900;
}
/*# sourceMappingURL=index.css.map */